<% include ../header.ejs %>

<div class="well jumbotron">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a href="/customer/login">Login</a></li>
    <li role="presentation"><a href="/customer/logout">Logout</a></li>
    <li role="presentation"><a href="/customer/reg">reg</a></li>
  </ul>
</div>

<% include ../footer.ejs %>
